@import "../../utils/theme.scss";

.crown {
  display: none;
}

.projects-wrapper {
  & h3 {
    color: $colorPrimary;
    text-transform: uppercase;
    letter-spacing: 10%;
    font-weight: 500;
    font-size: 20px;
    padding: 32px 16px 8px 16px;
    margin-top: 16px;
  }

  & h4 {
    color: $colorTextPrimary;
    font-weight: 700;
    font-size: 20px;
    padding: 16px;
    line-height: 150%;
  }

  .projects-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .stars {
    display: none;
  }
}

@media screen and ($tablet) {
  .projects-wrapper {
    max-width: 1090px;
    width: 90%;
    margin: 30px auto;
    position: relative;

    & h3 {
      padding: 32px 16px 8px 0px;
    }

    & h4 {
      padding: 16px 0;
      max-width: 400px;
    }

    .stars {
      position: absolute;
      right: 20px;
      display: block;
    }
  }
}

@media screen and ($desktop) {
  .crown {
    position: absolute;
    left: 20px;
    top: 2500px;
    display: block;
  }
}
