@import "../../utils/theme.scss";
@keyframes resize {
  0% {
    border-radius: 40% 50% 40% 80%/50% 80% 40% 50%;
  }

  50% {
    border-radius: 80% 50% 60% 50%/70% 40% 70% 50%;
  }

  100% {
    border-radius: 40% 50% 40% 80%/50% 80% 40% 50%;
  }
}

.hero-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  & nav {
    padding: 32px;
    display: flex;
    list-style: none;
    gap: 26px;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    li {
      cursor: pointer;
      font-size: 20px;
      text-transform: uppercase;
      color: $colorWhite;
      font-weight: 400;
      a {
        text-decoration: none;
        color: $colorWhite;
      }
    }
  }

  .hero-social-media {
    position: absolute;
    right: 32px;
    display: flex;
    flex-direction: column;
    width: 40px;
    z-index: 1;
    gap: 16px;
    top: 90px;
    img {
      width: 40px;
    }
  }

  .hero-vectors {
    .vector-top {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
    .vector-left {
      position: absolute;
      left: 0;
      bottom: 50px;
      z-index: 0;
    }
  }

  .hero-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 auto;

    .hero-text {
      z-index: 1;
      p {
        font-size: 1.2rem;
        font-weight: 400;
        color: $colorTertiary;
        line-height: 350%;
      }
      .inner {
        line-height: 350%;
        h1 {
          color: $colorPrimary;
          font-weight: 700;
          font-size: 5rem;
        }
        h2 {
          color: $colorSecondary;
          font-weight: 700;
          font-size: 3rem;
        }
      }
    }

    .hero-image {
      animation: resize 8s ease-in-out infinite;
      background-image: url(/src/assets/images/me.jpg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 40% 50% 40% 80%/30% 80% 40% 50%;
      height: 350px;
      position: relative;
      transition: all 1s ease-in-out;
      width: 350px;
    }
  }
}
