$fontPrimary: "Lexend", sans-serif;

$colorPrimary: #de7b1f;
$colorSecondary: #2d4c56;
$colorTertiary: #10242e;
$colorGrey: #4a4a4a;
$colorWhite: #ffffff;

$tabletMedium: "min-width: 580px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$desktopLarge: "min-width: 1300px";
