$fontPrimary: "Lexend", sans-serif;

$colorPrimary: #de7b1f;
$colorSecondary: #2d4c56;
$colorTertiary: #10242e;
$colorTextPrimary: #4a4a4a;
$colorTextSecondary: #d9d9d9;
$colorWhite: #ffffff;

$tablet: "min-width: 580px";
$tabletLarge: "min-width: 768px";
$desktop: "min-width: 1024px";
$desktopLarge: "min-width: 1300px";
